<tr class="bg-white">
    <td class="px-6 py-4 whitespace-nowrap text-gray-900">
        {{formatCurrency "en-US" payout.amount}}
    </td>
    <td class="px-6 py-4 text-left whitespace-nowrap text-gray-500">
        {{payout.destination}}
    </td>
    <td class="px-6 py-4 text-left whitespace-nowrap text-gray-500">
        {{formatDate payout.arrival_date}}

    </td>
    <td class="hidden px-6 py-4 whitespace-nowrap text-gray-500 md:block">
        <span
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 capitalize">
            {{payout.status}}

        </span>

    </td>
</tr>