<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <meta name="robots" content="noindex, nofollow">
   <title>Oasis Hubs</title>
   <link rel="shortcut icon" href="/images/favicon.png"/>
   <script src="https://js.stripe.com/v3/"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
   <link rel="stylesheet" href="~/OasisHubs.Site.styles.css" asp-append-version="true"/>
</head>

<body class="h-full">

@RenderBody()
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
